@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

.pricing-container {
  padding-top: 40px;

  @media (min-width: $screen-sm-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &::after {
    background-image: linear-gradient(to right, $color-primary, $color-primary-alt 50%);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .container {
    position: relative;
    z-index: 9;
  }

  .page-headline {
    margin-bottom: 0;

    &.cta {
      @media (min-width: $screen-sm-min) {
        padding-top: 75px;
      }
    }
  }

  .subheader {
    margin-top: 30px;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    color: $color-gray-light;
    font-weight: 300;
    font-size: 20px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 50px;
    }

    &.cta {
      margin-bottom: 18px;
    }

    .contact-us {
      border-bottom: 1px solid $color-gray-light;
      color: $color-gray-light;
      font-weight: 300;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.pricing-options {
  padding-top: 50px;
  padding-bottom: 100px;

  @media (min-width: $screen-md-min) {
    .row .col-md-2 {
      width: 20%;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    color: $color-primary;
    margin-bottom: 30px;

    a {
      text-decoration: underline;
    }
  }

  .pricing-category-ruler {
    overflow: auto;
    margin-bottom: 10px;
    display: flex;

    &.mobile-only {
      display: none;
    }

    span {
      color: $color-primary-alt;
      flex: 1;

      &.ruler {
        height: 2px;
        margin-top: 10px;
        background-color: $color-white-alt;
      }

      &.label {
        max-width: 120px;
        min-width: 120px;
      }
    }

    // Tablet & Mobile
    @media (max-width: $screen-md-min) {
      &.col-md-6 {
        width: 100%;
      }

      &.desktop-only {
        display: none;
      }

      &.mobile-only {
        display: flex;
      }
    }
  }
}

.featured-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding: 0;
  border-color: $color-white-alt;

  // Tablet & Mobile
  @media (min-width: $screen-md-min) {
    min-height: 735px;
  }

  .edition-name {
    border-bottom: 1px solid $color-white-alt;
    background-color: $color-white;
    border-radius: $border-radius-large $border-radius-large 0 0;
    color: $color-primary-alt;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 4px;

    &.edition-enterprise {
      color: $color-white;
      background-color: $color-primary-alt;
    }
  }

  .featured-item-body {
    flex: 1 1 auto;
  }
}

.line-separator {
  background: $landing-organization-color;
  margin: auto;
  width: 85%;
  height: 1px;
}

.content-container {
  background-color: $pricing-gray-bg;

  .page-headline {
    padding-bottom: 25px;
    color: $color-primary;
    max-width: 910px;
    margin: auto;

    @media (min-width: $screen-md-min) {
      padding-bottom: 75px;
    }
  }

  .featured-item {
    border: 0;
  }

  .edition-name {
    border: 1px solid $mvp-table-border;
    background-color: $color-primary-alt;
    color: $color-white;
  }

  .purchase-now {
    margin-top: 25px;

    @media (min-width: $screen-sm-min) {
      margin-top: 55px;
    }

    @media (min-width: $screen-md-min) {
      margin-top: 75px;
    }
  }

  .featured-item-body {
    border: 1px solid $landing-organization-color;
    border-top: 0;
    border-radius: 0 0 $border-radius-large $border-radius-large;
  }
}

.featured-item-body {
  position: relative;

  .edition-description,
  .edition-pricing {
    border-bottom: 1px solid $color-white-alt;
  }

  .edition-description {
    font-size: 13px;
    color: $color-primary-alt;
    vertical-align: middle;
    display: block;
    height: auto;
    margin: auto;
    padding: 15px;

    @media (min-width: $screen-md-min) {
      display: table-cell;
      height: 120px;
      padding: 0 10px;
    }
  }


  .edition-pricing {
    position: relative;
    overflow: auto;
    padding: 0 5px 15px;
    background-color: $body-bg;

    .pricing-term {
      position: relative;
      margin-top: 10px;
      margin-bottom: -25px;
      color: $color-gray;
    }

    .featured-item-headline,
    .featured-item-headline-small {
      display: inline-block;
      margin-bottom: 0;
      padding-bottom: 8px;
      color: $color-primary-alt;
    }

    .featured-item-headline {
      font-family: $font-family-sans-serif;
      font-size: 28px;
      font-weight: bold;
      text-align: right;

      // Tablet & Mobile
      @media (max-width: $screen-md-min) {
        margin-top: 20px;
        font-size: 40px;
        padding-right: 3px;
      }

      // Regular Desktop
      @media (min-width: $screen-md-min) {
        margin-top: 15%;
        min-height: 38px;
        padding-left: 0;
        padding-right: 8px;
      }

      // Large Desktop
      @media (min-width: $screen-lg-min) {
        margin-top: 8%;
        font-size: 40px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .featured-item-headline-small {
      font-weight: 700;
      text-align: left;

      // Tablet & Mobile
      @media (max-width: $screen-md-min) {
        margin-top: 20px;
        text-align: left;
        padding-left: 3px;
      }

      // Regular Desktop
      @media (min-width: $screen-md-min) {
        margin-top: 15%;
        min-height: 40px;
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
      }

      // Large Desktop
      @media (min-width: $screen-lg-min) {
        font-size: 15px;
        margin-top: 10%;
        padding-left: 5px;
      }
    }

    .featured-item-headline-smaller {
      font-size: 14px;
      text-decoration: none;
      color: $color-primary-alt;
      margin-bottom: -13.5px;
      margin-top: -5px;

      @media (max-width: $screen-md-min) {
        margin-bottom: 10px;
      }
    }
  }

  .featured-item-expand {
    display: block;
    padding: 10px;
    font-size: 15px;
    color: $mvp-table-header-color;

    &::after {
      content: "\f078";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &.chevron-up {
      &::after {
        content: "\f077";
      }
    }

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }

  .item-description {
    padding: 10px;
    font-size: 12px;
    color: $color-primary-alt;

    &.text-muted {
      color: $color-gray;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 14px;
    }

    a {
      color: $color-primary-alt;
      border-bottom: 1px solid $color-primary-alt;

      &:hover {
        color: $color-primary;
        text-decoration: none;
        border-bottom-color: transparent;
      }
    }
  }

  .action-link {
    border-bottom: 1px solid $link-box-color;
    color: $link-box-color;
  }

  .edition-actions {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;

    @media (min-width: $screen-md-min) {
      position: absolute;
      bottom: 20px;
    }

    &.align-button {
      bottom: 0;

      @media (min-width: $screen-md-min) {
        bottom: 51px;
      }
    }

    .featured-item-button {
      display: block;
      margin: auto;
      transition: background-color .2s linear, color .2s linear, border-color .2s linear, width 0s;
      padding-left: 10px;
      font-size: $font-size-base;
      padding-right: 10px;
      color: $color-white;
      background-color: $color-secondary;
      width: 145px;

      &:hover {
        color: $color-secondary;
        background-color: transparent;
      }
    }

    .featured-item-link {
      display: block;
      margin-top: 10px;
      font-size: 16px;
      color: $color-secondary;
    }
  }
}

.featured-item-list {
  margin-bottom: 20px;
  display: none;

  &.list-expanded {
    display: block;
  }

  @media (min-width: $screen-md-min) {
    min-height: 300px;
    display: block;
  }
}

.choose-gitlab {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
  background-color: $color-primary-alt;
  color: $color-white;
}

.choose-gitlab-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: (45px / 20px) * 1em;
  font-weight: 300;
}

.choose-gitlab-link {
  color: $color-secondary-alt;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  border-bottom: 1px solid $color-secondary-alt;

  &:hover,
  &:active,
  &:focus {
    color: $color-secondary-alt;
    text-decoration: none;
    border-bottom-color: transparent;
    outline: 0;
  }
}

.faq-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $color-secondary;
  font-size: 30px;

  @media (min-width: $screen-md-min) {
    font-size: 47px;
  }
}

.faq-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 35px;
  }

  a {
    color: inherit;
    border-bottom: 1px solid;
    font-weight: inherit;

    &:hover {
      color: $color-primary;
      text-decoration: none;
      border-bottom-color: transparent;
    }
  }
}

.pricing-tile-row {
  @media (min-width: $screen-md-min) {
    margin-bottom: 30px;
  }
}

.compare {
  margin-top: 35px;
  margin-bottom: 80px;

  .title {
    font-weight: 600;
    font-size: 47px;
    color: $color-dark;
    line-height: 64px;
    text-align: center;
    padding-bottom: 50px;
  }
}
