---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitHub.com vs GitLab.com | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- data.comparisons.gitlabcom_vs_githubcom do |comparison_block|
  = partial "includes/comparison_table", locals: { comparison_block: comparison_block }
