---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitHub Pull Request vs GitLab Merge Request | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- data.comparisons.gitlab_merge_request_vs_github_pull_request do |comparison_block|
  = partial "includes/comparison_table", locals: { comparison_block: comparison_block }
