---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab EE vs GitLab CE | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- data.comparisons.gitlab_ce_vs_gitlab_ee do |comparison_block|
  = partial "includes/comparison_table", locals: { comparison_block: comparison_block }
