---
layout: markdown_page
title: "GitLab Direction"
---

- TOC
{:toc}

This page describes the direction and roadmap for GitLab. It's organized from
the short to the long term.

## Your contributions

GitLab's direction is determined by GitLab the company, and the code that is
sent by our [contributors](http://contributors.gitlab.com/). We continually
merge code to be released in the next version. Contributing is the best way to
get a feature you want included.

On [our issue tracker for CE][ce-issues] and [EE][ee-issues], many requests are
made for features and changes to GitLab. Issues with the [Accepting Merge
Requests] label are pre-approved as something we're willing to add to GitLab. Of
course, before any code is merged it still has to meet our [contribution
acceptance criteria].

[ce-issues]: https://gitlab.com/gitlab-org/gitlab-ce/issues
[ee-issues]: https://gitlab.com/gitlab-org/gitlab-ee/issues
[Accepting Merge Requests]: https://gitlab.com/gitlab-org/gitlab-ce/issues?state=opened&label_name=Accepting+Merge+Requests
[contribution acceptance criteria]: https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#contribution-acceptance-criteria

## What our customers want

As a company, GitLab tries to make things that are useful for our customers as
well as ourselves. After all, GitLab is one of the biggest users of GitLab. If a
customer requests a feature, it carries extra weight. Due to our short release
cycle, we can ship simple feature requests, such as an API extension, within one
or two months.

## Previous releases

On our [release list page](/release-list/) you can find an overview of the most
important features of recent releases and links to the blog posts for each
release.

## Future releases

GitLab releases a new version [every single month on the 22nd]. Note that we
often move things around, do things that are not listed, and cancel things that
_are_ listed.

This page is always in draft, meaning some of the things here might not ever be
in GitLab. New premium features are indicated with "EE Premium" label. This is
our best estimate of what will be new premium features, but is in no way
definitive.

The list is an outline of **tentpole features** -- the most important features
of upcoming releases -- and doesn't include any contributions from volunteers
outside the company. This is not an authoritative list of upcoming releases - it
only reflects current [milestones](https://gitlab.com/groups/gitlab-org/milestones).

<%= direction %>

## Premium Features

Premium features will only be available to EE Premium subscribers. These issues appear in [direction](#direction) above, but are collected here for convenience.

<%= wishlist["EE Premium"] %>

## Ultimate Features

Ultimate features will only be available EE Ultimate subscribers.
Enterprise Edition Ultimate is not yet available.

<%= wishlist["EE Ultimate"] %>

[every single month on the 22nd]: /2015/12/07/why-we-shift-objectives-and-not-release-dates-at-gitlab

## 2017 Goals

Some key achievements for Q2, Q3 for 2017.

### 1. Cloud Native and Container Schedulers
1. (DONE) Q1: Make it work on Google Cloud
1. (DONE) Q2: [EE Premium: Canary deploys](https://gitlab.com/gitlab-org/gitlab-ee/issues/1659)
1. (DONE) Q2: [Support app + database deployments](https://gitlab.com/gitlab-org/gitlab-ce/issues/28496)

### 2. Monitoring and Feedback
1. (DONE) Q1: Ship prometheus with GitLab
1. (DONE) Q1: Monitoring of Customer Auto Deployed Apps on Kubernetes.
1. (DONE) Q2: Support for non-Auto Deployed (Manually?) Apps on Kubernetes
1. Q2: [Monitor custom variables from within GitLab](https://gitlab.com/gitlab-org/gitlab-ce/issues/28717)
1. Q3: EE Premium: [Code analytics](https://gitlab.com/gitlab-org/gitlab-ee/issues/112)

### 3. Made for enterprise
1. (DONE) Q1: Ship nested groups
1. Q2: [EE Premium: Service Desk](https://gitlab.com/gitlab-org/gitlab-ee/issues/1675)
1. Q2: [Group level issues support (boards)](https://gitlab.com/gitlab-org/gitlab-ee/issues/928)
1. Q2: [EE Premium: Multi project pipelines](https://gitlab.com/gitlab-org/gitlab-ee/issues/933)
1. Q2: [EE Premium: Detailed audit logs](https://gitlab.com/gitlab-org/gitlab-ee/issues/579)
1. Q3: [EE Premium: Reporting](https://gitlab.com/gitlab-org/gitlab-ee/issues/784)
1. Q3: [EE Premium: Disaster Recovery](https://gitlab.com/gitlab-org/gitlab-ee/issues/846)

### 4. Easy building, deploying, and monitoring
1. (DONE) Q1: Introduce easier, more powerful filtering
1. (DONE) Q2: Deploy boards
1. Q2: Make auto deploy easier to discover and use
1. Q2: [Improve the navigation](https://gitlab.com/gitlab-org/gitlab-ce/issues/29892)
1. Q2: [Bring real time to GitLab](https://gitlab.com/gitlab-org/gitlab-ce/issues/25051)

### 5. GitLab.com as powerful SaaS
1. Q2: [Introduce plans and in-UI subscriptions](https://gitlab.com/gitlab-org/gitlab-ce/issues/27481)

## Direction

Below are features that represent the direction we see GitLab going in. This list is not
prioritized. We invite everyone to join the discussion by clicking the direction
items that are of interest to you. Feel free to comment, vote up or down any issue
or just follow the conversation. For GitLab sales, please add a link to the
account in Salesforce.com that has expressed interest in a wishlist feature. We
very much welcome contributions that implement any of these things.

### Chat Commands

<%= wishlist["chat commands"] %>

### CI / CD

We want to help developers get their code into production; providing convenience and confidence to the developer in an integrated way. CI/CD focuses on steps 6 through 9 of our [scope](#scope): Test (CI), part of Review (MR), Staging (CD), and part of Production (Chatops). When viewed through the CI/CD lens, we can group the scope into CI, CD, and things that are currently beyond any definition of CD.

![GitLab CI/CD Scope](/images/direction/cicd/revised-gitlab-ci-scope.svg)

Many of the issues describe development of an n-tier web app, but could equally be applied to an iOS app, Ruby gem, static website, or other type of project.

See a slightly more complete rendering of an [example pipeline](complex-pipeline.svg).
{: .note}

<!--{: #sample .alert .alert-info}-->

#### Pipelines

<%= wishlist["pipeline"] %>

#### Build

GitLab CI provides an explicit `build` stage and the concept of build artifacts, but we might need to separate out the build artifacts from test artifacts. For example, you might want your test runner to create a JUnit-style output file which is available for external consumption, but not included in the build image sent to production. Creation of an explicit build aligns well with Docker where the result of the build stage is a Docker image which is stored in a registry and later pulled for testing and deployment.

* Identify docker image as build for specific pipeline
* Releases as first-class entry?
  * Release = build + config, so this implies we'd manage config
<%= wishlist["ci-build"] %>

#### Test

<%= wishlist["test"] %>

#### Deploy

A key part of CD is being able to deploy. We currently have this ability via scripts in the `deploy` stage in `.gitlab-ci.yml`. We will go further.

<%= wishlist["deploy"] %>

#### Deliver

What's the difference between Deploy and Deliver? There's a big benefit to decoupling deployment of code from delivery of a feature, mostly using feature flags. Continuous integration helps improve the speed of development, but feature flags take it to another level, giving you the confidence to integrate code even more often while providing a gradual and granular method for delivery.

<%= wishlist["deliver"] %>

#### Monitor

See [Prometheus Monitoring](#prometheus-monitoring).
{: .note}

#### Misc

<%= wishlist["CI"] %>

### Code Review

[Code review meta issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/19049)

<%= wishlist["code review"] %>

### Container Registry

<%= wishlist["container registry"] %>

### Moderation Tools

[Moderation tools meta issue ](https://gitlab.com/gitlab-org/gitlab-ce/issues/19313)

<%= wishlist["moderation"] %>

### Open Source Projects

[Features for open source projects](https://gitlab.com/gitlab-org/gitlab-ce/issues/8938)

<%= wishlist["open source"] %>

### Pages

<%= wishlist["pages"] %>

### Performance

<%= wishlist["performance"] %>

### Prometheus Monitoring

<%= wishlist["Prometheus"] %>

### Service Desk

<%= wishlist["service desk"] %>

### Team-first collaboration with issue boards

<%= wishlist["issue boards"] %>

### Usability

<%= wishlist["usability"] %>

### User management

[User management meta issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/19860)

<%= wishlist["user management"] %>

### Version Control for Everything

<%= wishlist["vcs for everything"] %>

### Wiki

[Wiki improvements meta issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/19276)

<%= wishlist["wiki"] %>

### Workflow management with issues

<%= wishlist["issues"] %>

## Moonshots

Moonshots are big hairy audacious goals that may take a long time to deliver.

- [.git namespace with onename](https://gitlab.com/gitlab-org/gitlab-ce/issues/4232)
<%= wishlist["moonshots"] %>

## Scope

[Our vision](#vision) is an integrated set of tools for application lifecycle management based on convention over configuration.
To achieve this we ship the following features in our Omnibus package:

![Lifecycle](handbook/sales/lifecycle.png)

1. **Idea** (Chat) => [Mattermost](http://www.mattermost.org/)
1. **Issue** (Tracker) => Issue Tracker
1. **Plan** (Board) => [Issue Boards](/features/issueboard/)
1. **Code** (IDE) => [Web editor](https://docs.gitlab.com/ce/user/project/repository/web_editor.html) and [web terminal](https://docs.gitlab.com/ce/ci/environments.html#web-terminals)
1. **Commit** (Repo) => GitLab Repositories
1. **Test** (CI) => [GitLab Continuous Integration](/features/gitlab-ci-cd/) and [Container Registry](https://about.gitlab.com/2016/05/23/gitlab-container-registry/)
1. **Review** (MR) => GitLab [Merge Requests](https://docs.gitlab.com/ce/user/project/merge_requests.html) and [Review Apps](/features/review-apps/)
1. **Staging** (CD) => [GitLab Deploy](https://docs.gitlab.com/ce/ci/environments.html) and [auto deploy](https://docs.gitlab.com/ce/ci/autodeploy/index.html)
1. **Production** (Chatops) => [Mattermost slash commands](https://docs.gitlab.com/ee/project_services/mattermost_slash_commands.html) and [Slack slash commands](https://docs.gitlab.com/ce/project_services/slack_slash_commands.html)
1. **Feedback** (Monitoring) => [Cycle Analytics](/features/cycle-analytics/) and [Prometheus](https://about.gitlab.com/2017/01/05/prometheus-and-gitlab/).

Also see our [demo](/handbook/sales/demo/).

### Outside our scope

1. **Error monitoring** Sentry, Airbrake, Bugsnag
1. **Logging** [Fluentd](http://www.fluentd.org/architecture), ELK stack, Graylog, Splunk, [LogDNA](https://logdna.com/)
1. **Tracing** OpenTracing, [LightStep](http://lightstep.com/)
1. **Network** [Flannel](https://github.com/coreos/flannel/), Openflow, VMware NSX, Cisco ACI
1. **Network security** [Suricata](https://suricata-ids.org/), Nmap, rkhunter, Metasploit, Snort, OpenVAS, OSSEC
1. **Configuration management** although we do want to upload cookbooks, manifests, playbooks, and modules for respectively Chef, Puppet, Ansible, and Salt.
1. **Container configuration agents** [ContainerPilot](http://container-solutions.com/containerpilot-on-mantl/), [Orchestrator-agent](https://www.percona.com/blog/2016/04/13/orchestrator-agent-how-to-recover-a-mysql-database/)
1. **Distributed configuration stores** Consul, Etcd, Zookeeper, Vault
1. **Container Scheduler** although we do want to deploy to CloudFoundry, OpenStack, OpenShift, Kubernetes, Mesos DCOS, Docker Swarm, Atlas/Terraform, [Nomad](https://nomadproject.io/), [Deis](http://deis.io/), [Convox](http://www.convox.com/), [Flynn](https://flynn.io/), [Tutum](https://www.tutum.co/), [GiantSwarm](https://giantswarm.io/), [Rancher](https://github.com/rancher/rancher/blob/master/README.md)
1. **Operating System** Ubuntu, CentOS, [RHEL](https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux), [CoreOS](https://coreos.com/), [Alpine Linux](https://alpinelinux.org/about/)

## General Product Strategy

Today you can create an entire product successfully in GitLab, from idea to production. But you still need domain-specific knowledge to be able to set this up and then maintain, monitor and scale this application.

GitLab provides an [_integrated product_](#integrated-product) for [_teams of any size_](#teams-of-any-size) with [_any kind of projects_](#any-project) to move faster from idea to production, while giving you [_actionable feedback_](#actionable-feedback), and making shipping products _simple_.

GitLab's product is opinionated, but still allows you to use other tools if you
like to do so. GitLab plays well with others.

### Integrated Product

GitLab is an integrated set of tools for conversational development. This offers a superior user experience and lowers the threshold between each step in going from idea to production.

#### Conversational Development

Conversational development carries a conversation across functional groups through the application lifecycle management, involving gatekeepers at every step. By providing relevant context, a feature that is only possible with an integrated solution like GitLab, we can reduce cycle time, making it easier to diagnose problems and make decisions.

Concretely, conversational development in GitLab means that a change can be easily followed from inception to the changes it made in performance and business metrics and feeding this information back to _all_ stakeholders _immediately_.

Effectively, this allows cross-functional teams to collaborate effectively.

#### Idea to Production

GitLab contains all tools needed to bring any project from the ideation stage
up to running in production and giving feedback. This includes repositories,
issue tracking, CI, CD, monitoring, chat and more. GitLab focuses on lowering the threshold between each step, so that working on a project means focusing
on collaboration and not on learning new tools.

#### External Integrations

GitLab plays well with others. To allow everyone to contribute, it's important
that there is only one place where you'll have to look, even if you need to
use external tools that are not part of GitLab. For this reason, GitLab plays
well with others: Providing APIs for nearly everything you can do within GitLab
and powerful, simple authentication and authorization tools for external
integrations.

GitLab ships with built-in integrations to many popular applications.

### Any Project

GitLab is the tool for anyone working on software in any form.

#### Multi-repository projects

Software projects are often more than single repositories. GitLab will evolve from being focused around single repositories towards being able to accommodate software projects that consist of multiple repositories.

- [Nested Groups](https://gitlab.com/gitlab-org/gitlab-ce/issues/2772)

#### From scratch or legacy

Starting a project from scratch makes it easy to do everything through GitLab and well integrated. But existing / migrated / legacy projects should benefit from the same features that GitLab offers. GitLab will offer the tools to help you integrate, setup and improve your projects with the tools we have at offer. A concrete example is setting up review apps: everyone would benefit from this. GitLab will give you all the handles to set this up. It should not be required to dive deep in the documentation to discover features like this.

- [Auto Deploy](https://gitlab.com/gitlab-org/gitlab-ce/issues/23580)

#### Beyond code

Going from idea to production is not a matter of just code anymore. Modern products work with elaborate mockups and designs both in ideation, but also in production. Whether you’re working on assets in a game or working on the design of a new website, GitLab will allow you to collaborate on your work as a programmer would on their code.

- [Comment on images](https://gitlab.com/gitlab-org/gitlab-ce/issues/2641)

### Actionable Feedback

Deployments should never be fire and forget. GitLab will give you immediate feedback on every deployment on any scale. This means that GitLab can tell you whether performance has improved on the application level, but also whether business metrics have changed.

Concretely, we can split up monitoring and feedback efforts within GitLab in three distinct areas: execution (cycle analytics), business and system feedback.

#### Business feedback

With the power of monitoring and an integrated approach, we have the ability to do amazing things within GitLab. GitLab will be able to automatically test commits and versions through feature flags and A/B testing.

Business feedback exists on different levels:

* Short term: how does a certain change perform? Choose A/B based on data.
* Medium term: did a particular new feature change conversions, engagement
* Long term: how do larger efforts relate to changes in conversations, engagement, revenue

- [A/B Testing of branches](https://gitlab.com/gitlab-org/gitlab-ee/issues/117)

#### System feedback

We can now go beyond CI and CD. GitLab will able to tell you whether a change
improved performance or stability. Because it will have access to both
historical data on performance and code, it can show you the impact of any
particular change at any time.

System feedback happens over different time windows:

* Immediate: see whether changes influence availability and alert if they do
* Short-medium term: see whether changes influence system metrics and performance
* Medium-Long term: did a particular effort influence system status

- Implemented: [Performance Monitoring](https://docs.gitlab.com/ee/administration/monitoring/performance/introduction.html)
- [Status monitoring and feedback](https://gitlab.com/gitlab-org/gitlab-ce/issues/25555)
- [Feature monitoring](https://gitlab.com/gitlab-org/gitlab-ce/issues/24254)

#### Execution Feedback & Cycle Analytics

GitLab is able to speed up cycle time for any project.
To provide feedback on cycle time GitLab will continue to expand cycle
analytics so that it not only shows you what is slow, it’ll help you speed up
with concrete, clickable suggestions.

- [Cycle Speed Suggestions](https://gitlab.com/gitlab-org/gitlab-ce/issues/25281)

### Teams of any Size

GitLab is built to work for teams of any size. By yourself, it gets out of
your way and lets you quickly push you work and track your progress.

With a small team, you can easily communicate and quickly move through the
otherwise time-intensive steps of bringing a creation to production, with
infrastructure as code, a flexible issue tracker and very permissive defaults.

Large teams of thousands of collaborators working on complex projects can easily
manage permissions. Automatic and batch actions for getting rolling quickly,
up to fine-grained overrides to give certain users specific actions, temporary
if needed.

Teams working with external collaborators will find it easy and safe to allow
collaborators to work together with them in the same place as the rest of their
work, while securing what is not to be shared.

Open source initiatives can use GitLab to effectively collaborate with a
community, while having the moderation tools to keep the project clean and
focused.

### Enterprise Editions

GitLab comes in 3 editions, with Ultimate coming in the future:
* **Community Edition**: This edition is aimed at solo developers or teams that
do not need advanced enterprise features. It contains a complete stack with all
the tools developers needs to ship software.
* **Enterprise Edition Starter**: This edition contains features that are more
relevant for organizations that have more than 100 potential users. For example:
	* features for managers (reports, management tools at the group level,...),
	* features targeted at developers that have to work in multi-disciplinary
	teams (merge request approvals,...),
	* integrations with external tools.
* **Enterprise Edition Premium**: This edition contains features that are more
relevant for organizations that have more than 750 potential users. For example:
	* features for instance administrators
	* features for managers at the instance level (reporting, management tools,
	roles,...)
	* features to help teams that are spread around the world
	* features for people other than developers that help ship softwares (support,
	QA, legal,...)
* **Enterprise Edition Ultimate**: When released, this edition will contain
features that are more relevant for organizations that have more than 5000
potential users. For example:
	* compliances and certifications,
	* change management.


## Vision

From development teams to marketing organizations, everyone needs to collaborate on
digital content. Content should be open to suggestions by a wide number of
potential contributors. Open contribution can be achieved by using a mergeable
file format and distributed version control. The vision of GitLab is to **allow
everyone to collaborate on all digital content** so people can cooperate
effectively and achieve better results, faster.

Ideas flow though many stages before they are realized. An idea originates in a chat discussion, an issue is created, it is planned in a sprint, coded in an IDE, committed to
version control, tested by CI, code reviewed, deployed, checked and documented. Stitching all these stages of the application lifecycle together can be done in many different ways. You can have a marketplace of
proprietary apps from different suppliers or use a suite of products developed
in isolation. We believe that an **integrated set of tools for application lifecycle management based on convention over configuration** offers a superior user experience. The
advantage can be quoted from the [Wikipedia page for convention over
configuration](https://en.wikipedia.org/wiki/Convention_over_configuration):
"decrease the number of decisions that developers need to make, gaining
simplicity, and not necessarily losing flexibility". In GitLab you only have to
specify unconventional aspects of your workflow.
The happy path is **frictionless from idea to production**.

We admire other convention over configuration tools like [Ruby on
Rails](http://rubyonrails.org/) (that doctrine of which perfectly describe the [value of integrated systems](http://rubyonrails.org/doctrine#integrated-systems)), [Ember](http://emberjs.com/), and
[Heroku](https://www.heroku.com/), and strive to offer the same advantages for a
continuous delivery of software.

We prefer to offer an integrated set of tools instead of a network of services or offering plugins for the following reasons:

1. We think an integrated set of tools provides a better user experience than a modular approach, as detailed by [this article from Stratechery](https://stratechery.com/2013/clayton-christensen-got-wrong/).
1. The open source nature of GitLab ensures that that we can combine great open source products.
1. Everyone can contribute to create a feature set that is [more complete than other tools](https://about.gitlab.com/comparison/). We'll focus on making all the parts work well together to create a better user experience.
1. Because GitLab is open source the enhancements can become [part of
the codebase instead](http://doc.gitlab.com/ce/project_services/project_services.html) of being external. This ensures the automated tests for all
functionality are continually run, ensuring that additions keep working work. This is contrast to externally maintained plugins that might not be updated.
1. Having the enhancements as part of the codebase also
ensures GitLab can continue to evolve with its additions instead of being bound
to an API that is hard to change and that resists refactoring. Refactoring is essential to maintaining a codebase that is easy to contribute to.
1. Many people use GitLab on-premises, for such situations it is much easier to install one tool than installing and integrating many tools.
1. GitLab is used by many large organizations with complex purchasing processes, having to buy only one subscription simplifies their purchasing.
